<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SavingsCalculator"
        tools:targetApi="31"
        android:name=".calculatesavings.Income">


        <activity
            android:name=".calculatesavings.ExpensesActivity"
            android:exported="false"
            android:label="@string/title_activity_expenses"
            android:theme="@style/Theme.SavingsCalculator.NoActionBar" />
        <activity
            android:name=".SetGoalsActivity"
            android:exported="true" />
        <activity
            android:name=".CheckGoalsActivity"
            android:exported="true" />
        <activity
            android:name=".calculatesavings.A1_CalcSavings_Income_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>